node_modules
dist
dist-ssr
*.local
sg-c-88977-firebase-adminsdk.json
.env
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?ap
*.code-workspace
*.vscode-tests